* {
  a {
    text-decoration: none;
  }
}
.container {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 300px;
  min-height: 250px;
  padding: 0px 20px 0px 20px;
  margin-top: 70px;
  background: #fff;
  box-shadow: var(--elevation-4);
  box-shadow: 10px 10px 3px rgba(0,0,0,0.25);
  border: 2px solid #f4f4f4;
  border-radius: 10px;
  z-index: 1;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  
}

.checkoutButton {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
}

.checkoutContainer {
  text-align: center;
  margin-top: 20px;
  background-color: rgb(26, 26, 26);
  padding: 10px 0px;
  border: 1px solid rgb(26,26,26);
  transition: all 1s ease-in-out;
}


.checkoutContainer:hover {
  background: rgb(47, 145, 128);
  border: 1px solid rgb(47, 145, 128);

}

.checkoutButton span {
  margin-left: 10px;
}



.itemContainer {
  margin: 20px;
  position: relative;
}

#header {
  padding-left: 20px;
  padding-top: 20px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}



#header span {
  padding-left: 10px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.ruler {
  border-bottom: 1px solid #e0e0e0;
  margin: 20px auto 20px;
  width: 100%;
}

.productImage {
  height: 120px;
}

.imageContainer {

  justify-content: space-between;
  margin-top: 15px;
}



.productContainer {
  overflow-y: scroll;
  max-height: 300px;
}

.cartItemContainer {
  padding-right: 20px;
}

.cartItemContainer h4 {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
  letter-spacing: 0.8;
}

.table tr td {
  text-align: center;
}

.table {
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
  width: 125px;
  height: 30%;
  background: #fff;
}


.qty {
  width: 40%;
  font-size: 12px;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.qtybtn {
  width: 30%;
  background: #f4f4f4;
  border: none;
 
}

.qtybtn:hover {
  background: #dadada;
  cursor: pointer;
}

.imageTitle {
  display: flex;
  letter-spacing: 1px;
  font-size: 13px;
}

.titleContainer {
  margin-left: 20px;
}

.titleContainer p {
  font-size: 13px;
  padding-bottom: 10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}


.totalqty  {
  font-size: 14px;
  padding-bottom: 3px;
  color: rgb(151, 151, 151);
}

.subtotal {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}

.itemPrice p {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 800;
}

#emptyCartContainer {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}


.emptyCart {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.emptyCart h3 {
  margin: 0 auto;
  letter-spacing: 2px;
}

.emptyCart p {
  font-size: 12px;
  width: 60%;
  margin: 0 auto;
}

.hideEmptyCart {
  display: none;
}

.hulaIcon {
  width: 50%;
}

.viewCart {
  text-align: center;
  margin-top: 20px;
  border: 1px solid rgb(26, 26, 26);
  padding: 10px 0px;
  transition: all 1s ease-in-out;
}



.viewCart p {
  text-decoration: none;
  color: #000;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
}

.cartLink.viewCart p {
  color: #fff;
}

.viewCart:hover {
  cursor: pointer;
  background: rgb(26, 26, 26);


  .cartLink {
    color: #fff;
    text-decoration: none;
  }

  .cartLinkText {
    color: #fff;
  }


}


