.container {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  margin-top: 70px;
  background: #fff;
  box-shadow: var(--elevation-4);
  padding: 60;
  box-shadow: 10px 10px 3px rgba(0,0,0,0.25);
  border: 2px solid #f4f4f4;
  border-radius: 10px;
  z-index: 1;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.checkoutButton {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  text-decoration: none;
}

.checkoutContainer {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  background-color: rgb(26, 26, 26);
  padding: 10px 0px;
}


.checkoutContainer:hover {
  background-color: #2EB69A;
}

.checkoutButton span {
  margin-left: 10px;
}

.checkoutButton:hover {
  background: rgb(43, 167, 142);
}

.itemContainer {
  margin: 20px 20px 80px 20px;
  width: 80%;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.header img {
  width: 30px;
}

.header span {
  padding-left: 10px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.ruler {
  border-bottom: 1px solid #e0e0e0;
  margin: 20px auto 20px;
  width: 100%;
}

.productImage {
  height: 120px;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
}

.removeButton {
  background: none;
  border: none;
  text-decoration: underline;
  color: rgb(70, 70, 70);
}

.cartItemContainer h4 {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
  letter-spacing: 0.8;
}

.table tr td {
  text-align: center;
}

.table {
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
  width: 100px;
  height: 30%;
  background: #fff;
  margin-top: 10px;
}

.qty {
  width: 40%;
  font-size: 12px;
}

.qtybtn {
  width: 30%;
  background: #f4f4f4;
  border: none;
}

.qtybtn:hover {
  background: #dadada;
  cursor: pointer;
}

.imageTitle {
  display: flex;
  letter-spacing: 1px;
  font-size: 13px;
}

.titleContainer {
  margin-left: 20px;
}

.show {
  display: block;
}

.hide {
  display: none;
}


.totalqty  {
  font-size: 14px;
  padding-bottom: 3px;
  color: rgb(151, 151, 151);
}

.subtotal {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}