.footer {
  min-height: 70px;
  background: #000;
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 70px;
 
}

.copyright p {
  color: #f1f1f1;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
}

.social img {
  padding-left: 10px;
}

 .footerPages a {
  color: #fff;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  text-decoration: underline;
  font-weight: 400;
}

.returnPolicyLink {
  margin-right: 50px;
}


