
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

#Showcase {
  background: url("../img/waimea-showcase.jpg");
  background-size: cover;
  background-position: center;
  height: 456px;
  position: relative;
}

#Home {
  width: 100%;
}

.title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 75px;
  transform: translateY(-50%);
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  width: 500px;
}

.title h1 {
  font-size: 30px;
}

.title p {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 13px;
  margin-top: 10px;
}

.title button {
  background: none;
  border: 1px solid white;
  color: #fff;
  padding: 8px;
  width: 100px;
  margin-top: 15px;
}

.title button:hover {
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.locations {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
}

.container {
  width: 100%;
}

.island {
  height: 250px;
  width: 300px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container {
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 14px;
}

.container h1 {
  padding: 30px;
  font-size: 18px;
  letter-spacing: 3px;
}

.locationsShowcase {
  height: 372px;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  position: relative;
  background: url("../img/kauai.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 30px;
}

.giftsShowcase {
  height: 372px;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  position: relative;
  background: url("../img/ala-moana.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 30px;
}

.giftsTitle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 45px;
  width: 40%;
  text-align: left;
}

.giftsTitle h1 {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  font-size: 30px;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 0;
}

.giftsTitle p {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}

.showcaseButton {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px;
  margin-top: 15px;
  width: 100px;
}
.showcaseButton:hover {
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.jeweleryShowcase {
  height: 372px;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  position: relative;
  background: url("../img/Jewelry.png");
  background-position: center;
  background-size: cover;
  margin-top: 30px;
}

.ourstory {
  height: 372px;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  position: relative;
  background: url("../img/palm.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 30px;
}




//TABLET MEDIA QUERY 
@media only screen and (max-width: 768px) {
  #Showcase {
    text-align: left;
  }

 

  .title h1 {
    font-size: 30px;
  }

  .title p {
    width: 100%;
    margin: 0 auto;
  }

  .giftsTitle {
    width: 60%;

  }


}

//Largest Iphone media queries

@media only screen and (max-width: 600px) {

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
  }

  .title p {
    font-size: 12px;
    padding-top: 5px;
  }

  .giftsTitle {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  .giftsTitle h1 {
    text-align: center;
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
  }

  .giftsTitle p {
    width: 65%;
    margin: 0 auto;
    font-size: 11px;
  }
  
.container {
  width: 95%;
}




}