#Showcase {
  height: 450px;
  background: url("../img/ala-moana-store.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}

.showcaseContent {
  font-family: "Source Sans", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
}

.showcaseContent h1 {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
  letter-spacing: 5px;
}

.showcaseContent p {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 13px;
  width: 100%;
}

//Island Div Styles

.islandContainer {
  margin-top: 50px;
  width: 90%;
  margin: 50px auto 50px 20px;
}

.islandContent {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.oahuImageContainer {
  height: 350px;
  width: 450px;
  overflow: hidden;
  position: relative;
  margin-right: 25px;
  background: url('../img/moke.jpg');
  background-position: center;
  background-size: cover;
}

.mauiImageContainer {
  height: 350px;
  width: 450px;
  overflow: hidden;
  position: relative;
  margin-right: 25px;
  background: url('../img/maui-compressor.jpg');
  background-position: center;
  background-size: cover;
}

.kauaiImageContainer {
  height: 350px;
  width: 450px;
  overflow: hidden;
  position: relative;
  margin-right: 25px;
  background: url('../img/kauai.jpg');
  background-position: center;
  background-size: cover;
}



.islandTextContainer {
  margin-left: 20px;
  width: 50%;
}

.islandTextContainer h1 {
  font-size: 22px;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.islandFlexContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.address {
  margin: 20px 0px 20px 0px;
  flex-basis: 50%;
}



.phoneContainer {
  display: flex;
  padding-bottom: 12px;
  padding-top: 12px;
}

.phoneContainer a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  letter-spacing: 1px;
}

.phoneContainer a:hover {
  text-decoration: underline;
}

.address h3 {
  letter-spacing: 2px;
  font-size: 15px;
  padding-bottom: 12px;
}

.address p {
  font-size: 12px;
  letter-spacing: 1px;
}

.phoneContainer img {
  padding-right: 6px;
}

.ruler {
  border-top: 1px solid rgb(172, 172, 172);
  margin: 10px 0px 0px 0px;
  width: 90%;
}

.directionsbtn {
  background: none;
  border: 1px solid #000;
  color: #000;
  padding: 5px;
  width: 100px;
  transition: all 0.5s ease-in-out;
  letter-spacing: 1px;
  font-size: 10px;
}

.directionsbtn:hover {
  background: rgb(0, 0, 0);
  color: #fff;
  cursor: pointer;
}


/*Tablet media queries start here */

@media only screen and (max-width: 1100px) {
  .islandContent {
    display: block;
    width: 100%;
  }

  .islandFlexContainer {
    justify-content: flex-start;
  }

  .islandTextContainer {
    display: block;
    width: 100%;
    margin-top: 50px;
  }

  .oahuImageContainer,.mauiImageContainer,.kauaiImageContainer {
    display: none;
  }

  .islandImage {
    display: none;
    right: 0;
    bottom: 0;
    height: 350px;
  }
}

/*Smart phone media queries start here */
@media only screen and (max-width: 650px) {

  .islandTextContainer {
    width: 90%;
    margin: 0 auto;
  }

  .islandFlexContainer {
    justify-content: space-between;
  }

  .address {
    flex-basis: 40%;
  }

  .address h3 {
    font-size: 13px;
  }

  .showcaseContent {
    text-align: center;
    margin: 0 auto;
  }

  .showcaseContent h1 {
    font-size: 35px;
  }

  .showcaseContent p {
    width: 100%;
    margin: 0 auto;
    line-height: 20px;
  }

  .showcaseContent {
    font-family: "Source Sans", Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 1rem;
    color: #fff;
  }
  

}



