* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 90%;
  margin: 0 auto;

}

.links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.links li {
  list-style-type: none;
}

.links li a {
  text-decoration: none;
  color: #1B1B1B;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 1.4px;
}

.links li a:hover {
  color: rgb(124, 124, 124)
}

.logo {
  width: 95px;
}

.cartIcon{
  width: 22px;
  background: none;
  border: none;
}

.cartIconContainer {

  position: relative;
  padding: 5px;
}

.itemqty{
  position: absolute;
  top: 0;
  right: 0;
  background-color: orange;
  padding: 1px;
  border-radius: 1000px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

