* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  width: 90%;
  margin: 0 auto;
  height: 70px;
}

#NavContainer {
  display: flex;
  
}


.links {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.links li {
  list-style-type: none;
  padding-left: 50px;
}

.links li a {
  text-decoration: none;
  color: #1b1b1b;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 1.4px;
}

.links li a:hover {
  color: rgb(124, 124, 124);
}

.logo {
  width: 95px;
}

//Cart Styles
.cartContainer {
  background-color: #2EB69A;
  display: flex;
  align-items: center;
  width: 70px;
  margin-left: 10px;
}

.cartContainer:hover {
  cursor: pointer;
  background-color: #2eaa91;
}

.cart {
 margin: 0 auto;
 position: relative;
 display: flex;
 align-items: center;
}

.cart img {
  width: 17px;
  fill: #fff;
  margin: 0px 5px 0px 5px;
}

.qty {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;

}
