* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  width: 90%;
  margin: 0 auto;
  height: 70px;
}

#NavContainer {
  display: flex;
}

#mobileNav {
  display: none;
}

#productsLink {
  position: relative;
}

.dropdownContainer {
  position: relative;
  transition: all 2s ease-in-out;

}

.dropdownContainer:hover {
  #dropdown {
    opacity: 1;
    transition: all 2s ease-in-out;
    height: 135px;
  }
  .arrowIcon {
    opacity: 0.5;
  }
}

#dropdown {
  display: flex;
  overflow: hidden;
  transition: all 2s ease-in-out;
  transition-delay: 0.5s;
  position: absolute;
  background-color: none;
  flex-direction: column;
  z-index: 10000;
  margin-top: 5px;
  box-shadow: var(--elevation-4);
  box-shadow: 10px 10px 3px rgba(0,0,0,0.25);
  height: 0;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.85);
}

#dropdown a {
  color:#1b1b1b;
  padding: 15px 25px 15px 10px;
  letter-spacing: 0.0619em
}

#dropdown a:hover {
  color: rgb(124, 124, 124);
}

@media only screen and (max-width: 768px) {
  #mobileNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

  }

  .line {
    border: 1px solid #1b1b1b;;
    width: 25px;
    margin: 5px;
  }

  #mobileNav {
    height: 70px;
  }

  #Nav {
    display: none;
  }

  .cartContainer {
    display: none;
  }

  #NavContainer {
    display: none;
  }
}

.arrowIcon {
  position: absolute;
  height: 3px;
  bottom: 3.75px;
  right: -10px;
}


.links {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.links li {
  list-style-type: none;
  padding-left: 50px;
}

.links li a {
  text-decoration: none;
  color: #1b1b1b;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
}

.links li a:hover {
  color: rgb(124, 124, 124);
}

.logo {
  width: 95px;
}

//Cart Styles
.cartContainer {
  background-color: #30ac93;
  display: flex;
  align-items: center;
  width: 70px;
  margin-left: 10px;
  transition: background 0.5s ease-in-out;
}

.cartContainer:hover {
  cursor: pointer;
  background-color: #0fa189;
}

.cart {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.cart img {
  width: 17px;
  fill: #fff;
  margin: 0px 5px 0px 5px;
}

.qty {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.hamburger {
  transition: all 1s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
  transform: rotate(90deg);
}



.mobileLinks {
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  right: 0;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.5);
  z-index: 2;
  width: 60vw;
  transition: all 1s;
}

.mobileLinks {
  list-style-type: none;
}
.mobileLinks li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  font-size: 12px;
  transition: 1s all;
}

.mobileLinks li a:hover {
  font-size: 13.5px;
}

.close {
  font-size: 16px;
  padding: 3px;
  transition: 1s font-size ease-in-out;
}

.close:hover {
  color: rgb(233, 233, 233);
}

#hide {
  display: absolute;
  right: -100%;
  overflow: hidden;
}

#show {
  display: flex;
}


.close {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.close:hover {
  cursor: pointer;
}