.productContainer {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}



.content {
  margin-left: 30px;
  padding: 50px;
}
.content h1{
 font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
 font-weight: 500;
 text-transform: uppercase;
 font-size: 25px;
 letter-spacing: 3px;
 padding-bottom: 10px;
}

.content p {
  padding-bottom: 10px;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.content button {
  background: none;
  border: 1px solid #000;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  width: 150px;
  height: 40px;
}

.imageContainer {
  width: 100%;
}

.imageContainer img {
  width: 400px;
}

.content button:hover {
  cursor: pointer;
  background: rgb(27, 27, 27);
  color: #fff;
}


.description {
  font-size: 12px;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 25px;
}

//Quantity Styles

.qty {
  width: 40%;
  font-size: 12px;
}

.qtybtn {
  width: 30%;
  background: #f4f4f4;
  border: none;
}

.qtybtn:hover {
  background: #dadada;
  cursor: pointer;
}

.table tr td {
  text-align: center;
}

.table {
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
  height: 40px;
  background: #fff;
  width: 150px;
}

.cartandquantity {
  display: flex;
  width: 100%;
  margin: 15px 0px 15px 0px;
}

.content button {
  margin-left: 30px;
}


//Media Queries

@media only screen and (max-width: 1100px){
  .productContainer {
    width: 100%;
    margin: 0 auto;
    justify-content: center;

  }

  .productContainer img {
    text-align: left;
  }

  .productContainer h1 {
    text-align: left;
  }

  .productContainer p {
    text-align: left;
  }

  .cartandquantity {
    justify-content: left;
  }


}

@media only screen and (max-width: 1000px) {
.productContainer {
  width: 100%;
  display: block;
  text-align: center;
}


.content {
  text-align: left;
  width: 90%;
}




}