.container {
  width: 80%;
  margin: 0 auto;
}

.product-image {
  width: 33.33%;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-image {
  margin: 20px;
  display: relative;
}

.grid-image:hover {
  opacity: 0.80;
}

.product-desc {
  text-align: center;
  margin: 10px;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.product-desc  {
  font-size: 12px;
}

.page-title {
  padding-left: 20px;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: 200;
  letter-spacing: 2px;
}

.product-link {
  border: 1px solid #000;
  margin: 0 auto;
  text-align: center;
  padding: 10px 40px;
  color: #000;
  text-decoration: none;
  font-family: arial;
  letter-spacing: 1px;
  font-size: 12px;
}

.product-link:hover {
  background: rgb(46, 177, 159)
}


.link-container {
  text-align: center;
}


@media only screen and (max-width: 1100px) {
  .product-image {
    width: 50%;
  }
}

@media only screen and (max-width: 750px) {
  .product-image {
    width: 100%;
  }
}