.container {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto;
  
}

.checkoutButton {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
}

.checkoutContainer {
  text-align: center;
  margin-top: 20px;
  background-color: rgb(26, 26, 26);
  padding: 10px 0px;
  border: 1px solid rgb(26,26,26);
  transition: all 1s ease-in-out;
}


.checkoutContainer:hover {
  background: rgb(47, 145, 128);
  border: 1px solid rgb(47, 145, 128);

}

.checkoutButton span {
  margin-left: 10px;
}



.itemContainer {
  margin: 20px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

#header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}



#header span {
  padding-left: 10px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.ruler {
  border-bottom: 1px solid #e0e0e0;
  margin: 20px auto 20px;
  width: 100%;
}

.productImage {
  height: 120px;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.removeButton {
  background: none;
  border: none;
  text-decoration: underline;
  color: rgb(70, 70, 70);
}

.cartItemContainer h4 {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
  letter-spacing: 0.8;
}

.table tr td {
  text-align: center;
}

.table {
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
  width: 100px;
  height: 30%;
  background: #fff;
  margin-top: 10px;
}

.qty {
  width: 40%;
  font-size: 12px;
}

.qtybtn {
  width: 30%;
  background: #f4f4f4;
  border: none;
}

.qtybtn:hover {
  background: #dadada;
  cursor: pointer;
}

.imageTitle {
  display: flex;
  letter-spacing: 1px;
  font-size: 13px;
}

.titleContainer {
  margin-left: 20px;
}

.show {
  display: block;
}

.hide {
  display: none;
}


.totalqty  {
  font-size: 14px;
  padding-bottom: 3px;
  color: rgb(151, 151, 151);
}

.subtotal {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}

#emptyCartContainer {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}


.emptyCart {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.emptyCart h3 {
  margin: 0 auto;
  letter-spacing: 2px;
}

.emptyCart p {
  font-size: 12px;
  width: 60%;
  margin: 0 auto;
}

.hideEmptyCart {
  display: none;
}

.hulaIcon {
  width: 50%;
}

.keepShoppingbtn {
  text-align: center;
  margin-top: 20px;
  border: 1px solid rgb(26, 26, 26);
  padding: 10px 0px;
  transition: all 1s ease-in-out;
}



.keepShoppingbtn a {
  text-decoration: none;
  color: #000;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  
}

.keepShoppingbtn:hover {
  cursor: pointer;
  background: rgb(26, 26, 26);


  .keepShoppingText {
    color: #fff;
    transition: all 1s ease-in;

  }


}

.keepShoppingText {
  color: #000;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}